spring:
  application:
    name: user-service
  config:
    import: optional:configserver:http://${CONFIG_SERVER:localhost}:8888
  cloud:
    config:
      fail-fast: false

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
