spring:
  application:
    name: user-service
  config:
    import: optional:configserver:http://${CONFIG_SERVER:localhost}:8888
  cloud:
    config:
      fail-fast: false
  jpa:
    hibernate:
      ddl-auto: update
  sql:
    init:
      mode: always
      data-locations: classpath:data.sql

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
